#container {
    background-image: url('https://raw.githubusercontent.com/rkesav786/EasyRideProject/Asstets/HomeBannerNew_1600.webp');
    background-color: #d4475b;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
  }

  
  #cardcontainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  #card {
    width: 90% !important;
    border-radius: 34px;
    padding: 20px;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #forminput {
    border: none;
    box-shadow: none;
    font-size: small;
    padding: 10px;
    border-radius: 0.5rem;
  } 

  #offerscard {
    margin-top: 200px !important;
  }
